body {
  font-family: 'Poppins', sans-serif;
}


.navbar {
  height: 80px;
  background-color: #ef5f5e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar img {
  width: 50px;
}

.navbar label {
  color: white;
  font-weight: 700;
}

.card {
  display: flex;
  align-items: center;
  gap: 25px;
}

.journal-img {
  width: 200px;
  height: 260px;
  border-radius: 12px;
}

.description img {
  width: 20px;
}

.description h1 {
  margin-bottom: 15px;
  margin-top: -4px;
}

.maplink {
  display: inline;
  margin-left: 10px;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.maplink_2:hover {
  color:#ef5f5e;
}

.maplink_2 {
  color: inherit;
}


.summary {
  font-size: 14px;
  max-width: 500px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.card-scroll {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden;
  max-height: 500px;
}

.userinput-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 7px;
}

.userinput-listbottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.userinput {
  background-color: #ef5f5e;
  border-radius: 15px;
  margin: 20px;
  
}

.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.submit {
width: 90px;
height: 30px;
margin-top: 15px;

}

.summary {
  width: 600px;
  height: 100px;
}

* {
  margin: 0px;
  padding: 0px;
}

